@import url("https://cdn.fonts.net/kit/16f695f0-6618-11ec-84cb-06c8b378e9d2/16f695f0-6618-11ec-84cb-06c8b378e9d2.css");

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  height: 100vh;
  font-family: 'HelveticaNowTextRegular';
  color: #3D3D3D;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1264px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.splash {
  justify-content: center;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.page-heading {
  margin: 0 auto;
}

#animation-container {
  width: 300px;
  height: 300px;
}
.heading {
  font-family: 'RecoletaBlack';
  font-size: clamp(4rem, 5vw, 6rem);
  color: #30373D;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 2rem;
}

.heading-sm {
  font-family: 'RecoletaBlack';
  font-size: clamp(26px, 5vw, 2rem);
  color: #000000;
  line-height: 1;
  margin-bottom: .5rem;
}

.desc {
  text-align: center;
  padding: 0 2rem;
  margin:0 2rem 2rem 2rem;
}

.desc-sm {
  text-align: center;
  padding: 0 1rem;
  font-size: 13px;
  line-height: 1;
}

.btn {
  font-family: 'HelveticaNowTextRegular';
  background-color: #1A73E8;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 24px;
  display: inline-block;
  margin: 0 24px;
  width: 90px;
  border: 0;
  text-align: center;
}
.btn-block {
  padding: 20px;
  display: flex;
  width: 328px;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-gap: 30px;
}

.card {
  width: 328px;
  min-height: 380px;
  background-color: #EDF2FF;
  border-radius: 8px;
  position: relative;
}

.edit-text {
  font-family: 'RecoletaBlack';
  color: #3D3D3D;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  background-color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.logo {
  position: absolute;
  left: 26px;
  top: 0;
  width: 24px;
  height: auto;
}
.text {
  font-family: 'FuturaHeavy';
  font-size: 2rem;
  line-height: 1.1;
  padding: 35px 80px 250px 80px;
  color: #506AA1;
  word-break: break-word;
}
.artwork {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.text-box, .text-box:focus-visible, .text-box:focus {
  font-family: 'HelveticaNowTextRegular';
  width: 100%;
  max-width: 328px;
  margin: 1rem auto;
  padding: 16px;
  font-size: 1rem;
  border:0;
  outline: 1px solid #EBF0F3;
  resize: none;
}

.btn:disabled {
  opacity: 0.5;
}

.loader {
  font-size: 10px;
  margin: 0 10px;
  text-indent: -9999em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #1a73e8;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* card 2 */

.card2 {
  width: 328px;
  min-height: 380px;
  position: relative;
  background-color: #C62033;
  border-radius: 0;
  padding: 35px 30px;
}

.card2 .inner {
  border: 2px dashed #FFFFFF;
  border-radius: 16px;
  position: relative;
}

.card2 .inner > .text {
  font-family: 'LetteriaProSans';
  font-size: 46px;
  line-height: 42px;
  padding: 120px 25px 120px 25px;
  color: #FFFFFF;
  text-align: center;
  word-break: break-word;
}

.card2 .inner > .logo {
  position: absolute;
  left: -22px;
  top: -18px;
  width: 60px;
  height: 60px;
  border: 10px solid #c62033;
  border-radius: 50%;
}

.card2 .inner > .artwork, .card2 .inner > .lf-player-container .artwork {
  position: absolute;
  left: 50%;
  bottom: -40px;
  width: 80px;
  height: auto;
  transform: translateX(-50%);
}

.editArea {
  width: 100%;
  max-width: 328px;
  text-align: right;
  margin-bottom: 18px;
}

.editArea textarea, #charlimit{
  color: #414141;
  font-size: 13px;
}
